




<div class="fields question_answer_wrapper">
  <div>
    <div class="remove_q orange_border_background_link"><%= link_to_remove_fields "X", f %></div>
    <%= f.label :content, "Answer:" %>
    <%= f.text_area :content, :class => "question_box" %>
    <br />
    <%= f.label :score, "Score:" %>
    <%= f.text_field :score %>
  </div>
</div>

